HOST=127.0.0.1
PORT=3333
APP_URL=https://els.team
APP_ADMIN_URL=https://admin.els.team

NODE_ENV=development
CACHE_VIEWS=false
APP_KEY=

DB_CONNECTION=sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=adonis

HASH_DRIVER=argon

MAIL_CONNECTION=mailgun
MAILGUN_DOMAIN=els.team
MAILGUN_API_KEY=

SESSION_DRIVER=cookie
COOKIE_DOMAIN=els.team

TWITCH_CLIENT=
